/* Reset default browser styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Set up basic styles */
body {
  font-family: Arial, sans-serif;
  background-color:grey;

}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  padding-bottom: 50px;
}

section1 {
  margin-bottom: 30px;

}

h1 {
  display: flex;
  text-align: center;      
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

pre {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: auto;
}

code {
  font-family: Consolas, monospace;
}

footer {

  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
